body{ 
    background-color: #FFFFFF;
    font-family: sans-serif;
    color: #000000; 
}

.types{ color: #a71d5d; }
.lineComment{ color: #909090; }
.modifiers{ color: #56007F; }
.constants{ color: #A71400; }
.keywords{ color: #007020; }
.string{ color: #4070a0; }
.storageModifiers{ color: #00008B; }
.docString{ color: #909090; }
.builtinFunctions{ color: #191970; }
.magicFunctions{ color: #191970; }
.decorator{color: #191970}

table{
    border: thin groove black;
    border-collapse: collapse;
}


td, th{
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0;
}

td.code_line{
    white-space: pre;
    word-wrap: normal;
    padding-left: 10px;
}

td.line_number{
    width: 1%;
    min-width: 40px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
    border-right: thin solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.3);
}

tr:nth-child(even){ background-color: #FFFFFF; } 

tr:nth-child(odd){ background-color:  #F0F0F0; }